<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	    <title>User Profile</title>
	    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="./history.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    <link rel="stylesheet" type="text/css" href="./styles/user.css">
		<link rel="stylesheet" type="text/css" href="./styles/navbar.css">
		<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
		<link rel="stylesheet" href="assets/fonts/ionicons.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
	</head>

 	<body ng-app="webApp" ng-controller="userProfileController" class="greyBackground">
			<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
					<div class="container"><a class="navbar-brand logo" href="#" style="font-size: 25pt;"><span style="color:red;">m</span>trackr</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
						<div class="collapse navbar-collapse"
							id="navbarNav">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item" role="presentation"><a class="nav-link" href="/">Back to Login Page</a></li>
							</ul>
						</div>
					</div>
				</nav>
    	<div class="container-fluid greyGradientBackground" style="margin-top:90px">
        	<div class="row" id="userInfoRow">
            	<img src="./pic.png" id="profilePic" class="rounded-circle userImage" alt="Cinque Terre">
            	<div class="col-sm-10">
                	<h3 class="userID">
						<!-- <button class="btn btn-success" id="followButton" ng-if="isFollowing && loggedIn"><i class="fa fa-check"></i> Following</button> -->
						<a href="/add_prescription.html" class="w3-button w3-black" style="margin-bottom:5px;">Click here to Add Prescription</a>
					</h3>
					<h5><b>Patient ID:</b> <span>{{patient.patientid}}</span></h5>
                    <h5><b>First Name:</b> <span>{{patient.firstname}}</span></h5>
                    <h5><b>Last Name:</b> <span>{{patient.lastname}}</span></h5>
                	<h5><b>Age:</b> <span>{{patient.age}}</span></h5>
                	<h5><b>Gender:</b> <span>{{patient.gender}}</span></h5>
            	</div>
        	</div>
        </div>
        
    	<div class="container" id="foodReviewContainer">
			<h2 class="font1">Past Symptoms</h2>
			<div ng-if="!(patient_symptoms_and_date.length>0)"><h3 class="font2">No Past Symptoms</h2></div>
        	<div class="media border p-3 whiteBackgroud" ng-repeat="a in patient_symptoms_and_date">
            	<img src="./sym.png" class="mr-3 mt-1 rounded-circle images">
            	<div class="media-body">
                	<h4><small class="date"><i>Submitted on {{convertDate(a[1])}}</i></small></h4>
                	<p>{{a[0]}}</p>
            	</div>
        	</div>
    	</div>

    	<div class="container" id="restaurantReviewContainer">
			<h2 class="font1">Medications</h2>
			<div><span style="color:red; margin-left: 10px;">Red</span> pill indicates possibly inappropriate medication prescription. Please review.</div>
			<div ng-if="!(patient_medication_and_date.length>0)"><h3 class="font2">No Past Medications</h2></div>
			<div class="media border p-3 whiteBackgroud" ng-repeat="b in patient_medication_and_date">
				<img src="./red.jpg" ng-if="b[2]" class="mr-3 mt-3 rounded-circle imagesRest">
				<img src="./blue.png" ng-if="!b[2]" class="mr-3 mt-3 rounded-circle imagesRest">
				<div class="media-body">
					<h4><small class="date"><i>Prescribed on {{convertDate(b[1])}}</i></small></h4>
					<p>{{b[0]}}</p>
				</div>
			</div>
		</div>
 	</body>
</html>
