#topOfPageContainer{
    border-bottom: 1px solid grey;
}

#topOfPageRow{
    margin: 0px 10px;
}

#topOfPageForm{
    margin-top: 3px;
    margin-bottom: 10px
}

#dishImage{
	height: 300px;
	width: 300px;
}
#yumLogo{
    margin-top: 10px;
	width: 200px;
    height: 50px;

}

#loginSignUp{
    padding-top: 17px;
}

#dishInfoRow{
    margin: 15px 20px;
}
input[type=text] {
    width: 75%;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    font-family: 'Questrial', sans-serif;
}

input[type=submit] {
    font-family: 'Questrial', sans-serif;
    margin-top: 10px;
}

h5{
    font-family: 'Questrial', sans-serif;
    margin: 5px 20px;
}
.checked {
    color: orange;
}
.dishInfo{
    font-family: 'Questrial', sans-serif;
    margin-bottom: 10px;
}

.rating{
	padding-left:17px;
}
#dishName{
	 padding-left:15px;
}

.ingredInfoList{
    color: grey;

}

#userReviewContainer{
    margin-top: 20px;
    margin-left: 40px;
}

.font1 {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font2 {
    font-family: 'Questrial', sans-serif;
}


.date{
    float:right;
}

.restaurantName{
    margin-left: 5px;
}

.userInfoList{
    color: grey;
}

.images{
    width:60px;
}

.userImage{
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
}

.userID{
    border-bottom: 1px solid grey;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 10px;
}.banner {
    position: relative;
}

#menu {
    position: absolute;
    bottom: 5px;
}

#menu ul li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
}

.aboutUsContainer{
    padding-right: 300px;
}

.imagesBorder{
    padding: 3px;
    background: white;
    border: 1px solid black;
}
.greyBackground{
    background-color: #F5F5F5;
}
.whiteBackgroud{
    background-color: white;
}
.centerAlign{
    text-align: center;
}

#topOfPageContainer{
    background: orange;
}
#yumLogo{
    border: 1px solid white;
}

.greyBoarder{
    border-right: 1px solid grey;
    margin-right: 20px;
    padding-right: 5px;
    margin-bottom: 5px;
}

.menu-item {
    color: white;
    font-family: 'Questrial', sans-serif;
}

.menu-item a, .info a {
    text-decoration: none;
    color: inherit;
}

.restaurant-name {
    color: orange;
    font-size: 250%;
    font-family: 'Baloo Bhaijaan', cursive;
}

#bannerImage {
    width: 100%;
    height: 300px;
}

.font1 {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font2 {
    font-family: 'Questrial', sans-serif;
}

.checked {
    color: orange;
}

.info {
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.mr-3 {
    height: 100px;
}

.restaurant-image {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 2px;
}

.star {
    margin: 2px;
    cursor: pointer;
}

.dish {
    display: inline-block;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

pre {
    font: inherit;
}


.followButton{
    margin-bottom: 10px;
    margin-left: 10px;
}
