#navigationButtonContainer{
    margin-top: 20px;
    margin-left: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#profilePic{
    width: 200px;
    height: 200px;
}

.centerAlign{
    text-align: center;
}

.font1 {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font2 {
    font-family: 'Questrial', sans-serif;
}

.date{
    float:right;
}

.images{
    width:60px;
}

.userImage{
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
}

.userID{
    border-bottom: 1px solid grey;
    font-family: 'Questrial', sans-serif;
    margin-bottom: 10px;
}

.checked {
    color: orange;
}

table td input {
     width:100%;
}
table td textarea {
    width:100%;
}

#hiddenTable {
    display: none;
}

h5{
    font-family: 'Questrial', sans-serif;
    margin: 5px 20px;
}

h5 b{
    color: grey;
}

i{
    color:grey;
}
