#followButton{
    margin-bottom: 5px;
    margin-left: 10px;
}

#userInfoRow{
    margin: 15px 20px;
}

#userStats{
    border-bottom: 1px solid grey;
    margin-top: 20px;
}

#navigationButtonContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#foodReviewContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#restaurantReviewContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#userReviewContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#followersContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#followingUsersContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#followingRestaurantsContainer{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

#profilePic{
    width: 200px;
    height: 200px;
}

#topOfPageContainer{
    background: orange;
}

#yumLogo{
    border: 1px solid white;
}


.followingRestaurantsImageAlign{
    margin-left: 15px;
}
.imagesRest{
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

.whiteBackground{
    background-color: white;
}

.greyGradientBackground{
    background-image: linear-gradient(white, #F5F5F5);
    padding-top: 10px;
    padding-bottom: 30px;
}

.greyBackground{
    background-color: #F5F5F5;
}
.whiteBackgroud{
    background-color: white;
}

.orangeButton{
    color: orangered;
    border: 1px solid darkorange;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.orangeButton:hover {
    background-color: orange; /* Green */
    border: 1px solid orange;
    color: white;
}

.inlineIcons{
    display: inline-block;
    margin-right: 30px;
}

.centerAlign{
    text-align: center;
}

.font1 {
    font-family: 'Baloo Bhaijaan', cursive;
}

.font2 {
    font-family: 'Questrial', sans-serif;
}

.date{
    float:right;
}

.restaurantName{
    margin-left: 5px;
}

.images{
    width:60px;
    border: 1px solid black;
}

.userImage{
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 10px;
}

.userID{
    border-bottom: 1px solid grey;
    font-family: 'Questrial', sans-serif;
    padding-top:30px;
}

.checked {
    color: orange;
}

h5{
    font-family: 'Questrial', sans-serif;
    margin: 5px 20px;
}

h5 b{
    color: grey;
}

i{
    color:grey;
}
